{
  "telegram_bot": {
    "name": "arny_countdown_bot",
    "token": "[PASTE_TELEGRAM_BOT_TOKEN]"
  },
  "firebase": {
    "db_url": "https://[YOUR_PROJECT_NAME].firebaseio.com/"
  },
  "tick_interval": 600
}
